* {
  box-sizing: border-box;
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 1.1rem;
  text-decoration: none;
  list-style: none;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}

img, svg {
  width: 36px;
  height: 36px;
  display: block;
}

img {
  border-radius: 50%;
}

svg {
  transform-box: fill-box;
  transform-origin: 50% 50%;
}

h1, h2, h3, h4 {
  margin-block-start: 0;
  margin-block-end: 0;
}

h1 {
  font-family: "Amatic SC", cursive;
}

h2, h3, h4, text {
  font-family: "Overpass Mono", monospace;
}

p, a, li, input, button, select, option, ::placeholder {
  font-family: "Numans", sans-serif;
}

strong {
  font-size: 1.1em;
  font-weight: bold;
}

body {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, #22c1c3, #fdbb2d) center/cover no-repeat;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "header" "nav" "main" "footer";
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas: "header header" "nav main" "nav main" "footer footer";
  }

  .main-grid-container {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .main-grid-container .block {
    margin-bottom: 0;
  }
  .main-grid-container .daily.block {
    margin-right: 0;
  }
  .main-grid-container section:first-child {
    grid-column: span 2;
  }
  .main-grid-container section:nth-child(n+4) {
    grid-column: span 2;
  }
}
@media (min-width: 1024px) {
  .main-grid-container .new-members.block, .main-grid-container .messenger.block {
    margin-right: 0;
  }
  .main-grid-container section:nth-child(n+5) {
    grid-column: span 1;
  }
  .main-grid-container section:last-child {
    grid-column: span 2;
  }
}
header {
  width: 100%;
  height: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex: "";
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0 15px;
  gap: 30px;
}

h1 {
  font-size: 2em;
  background-color: #22c0c3;
  background-image: linear-gradient(45deg, #1a9598, #cc6200);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

h4 {
  font-size: 0.7em;
}

.bell-container {
  position: relative;
}

.show {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: tomato;
  left: 90%;
  bottom: 90%;
}

.notifications {
  position: absolute;
  background-color: white;
  width: 250px;
  left: -200%;
  top: 120%;
}

.notifications-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex: "";
  border-bottom: 1px solid lightgrey;
}
.notifications-item p {
  font-size: 0.6em;
  padding: 0.5em;
  border-left: 1px solid lightgrey;
}
.notifications-item p:first-child {
  width: 100%;
  flex-grow: 3;
}
.notifications-item p:not(:first-child) {
  flex-grow: 1;
}

.user-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  flex: "";
  gap: 10px;
}
.user-header img {
  width: 36px;
  height: 36px;
}
.user-header svg {
  width: 30px;
  height: 30px;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex: "";
  gap: 15px;
  height: 55px;
  background-color: rgba(255, 255, 255, 0.6);
}

.nav-svg path, .bell path {
  fill: #1a9598;
}
.nav-svg:hover path, .nav-svg:focus path, .bell:hover path, .bell:focus path {
  fill: #22c0c3;
  transition: fill 0.2s;
}

.fix {
  stroke: #1a9598;
  stroke-width: 2px;
}

@media (min-width: 768px) {
  .nav-container {
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    padding-top: 10px;
  }
}
footer {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}
footer h4 {
  font-size: 0.7em;
  padding: 25px 0;
}

.block {
  margin: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 15px;
}

h3 {
  padding: 5px;
}

.cloud-container {
  margin-right: auto;
}

text {
  font-size: 5em;
}

.cloud-svg {
  width: 100%;
  max-width: 150px;
  height: 55px;
}

.cloud-path {
  fill: rgba(255, 255, 255, 0.6);
  stroke: rgba(255, 255, 255, 0.6);
}

.alert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex: "";
  margin: 10px;
  padding: 10px 20px;
  background-color: #ffa600;
  border-radius: 15px;
}
.alert p, .alert span {
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.8);
}

.remove-alert {
  font-weight: bold;
  user-select: none;
}

.c2 {
  display: none;
}

@media (min-width: 768px) {
  .c1 {
    display: none;
  }

  .c2 {
    display: block;
  }
}
.traffic-time-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex: wrap;
  margin: 10px auto;
}
.traffic-time-container input {
  font-size: 0.7em;
  padding: 0.55em;
  background-color: #1a9598;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}
.traffic-time-container input:hover, .traffic-time-container input:focus {
  background-color: #22c0c3;
  outline: 2px solid #1a9598;
}

@media (min-width: 768px) {
  .traffic-time-container {
    margin: 0;
    gap: 15px;
  }
  .traffic-time-container input {
    font-size: 0.8em;
  }

  .traffic-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex: "";
  }
}
.stat-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex: "";
  width: 64px;
  height: 64px;
  background-color: #22c0c3;
  border-radius: 50%;
}

.stat {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex: "";
  gap: 15px;
  margin: 10px 0;
  padding: 0.7em 0.5em;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}
.stat:last-child {
  margin-bottom: 0;
}
.stat p:first-child {
  color: #22c0c3;
  font-size: 0.9em;
  font-weight: bold;
}
.stat p:last-child {
  color: #797979;
  font-size: 1.8em;
}

.stats-path {
  fill: #fff;
}

.member-card {
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: "";
  gap: 5px;
  text-align: center;
  padding: 15px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}
.member-card img {
  width: 64px;
  height: 64px;
  margin-bottom: 5px;
}
.member-card p {
  font-size: 0.7em;
}
.member-card a {
  font-size: 0.75em;
}

.new-members {
  line-height: 0.8em;
}

.member-card:last-child {
  padding-bottom: 0;
  border: none;
}

a {
  background-color: #22c0c3;
  background-image: linear-gradient(to bottom left, #1a9598, #cc6200);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
a:focus {
  outline: 2px solid #1a9598;
}

.arrow {
  display: none;
  background-color: rgba(255, 255, 255, 0.8);
  color: #22c0c3;
  font-size: 2em;
  font-weight: 900;
  padding: 0.1em 0.15em;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .member-card {
    justify-content: flex-start;
    flex-direction: row;
    text-align: left;
    gap: 20px;
  }
  .member-card img {
    margin: 0;
  }
  .member-card p:last-child {
    margin-left: auto;
  }

  .arrow {
    display: block;
    margin-left: auto;
  }
}
.user-msg {
  display: block;
  min-height: 100px;
}

.user-search, .user-msg, .send-btn, .timezone {
  width: 100%;
  border-radius: 10px;
  margin: 5px 0;
  padding: 0.6em;
}

.send-btn, #save-btn, #cancel-btn {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
  background-color: #1a9598;
  width: 100%;
  padding: 0.5em;
  border-radius: 10px;
}
.send-btn:hover, #save-btn:hover, #cancel-btn:hover {
  background-color: #22c0c3;
}
.send-btn:focus, #save-btn:focus, #cancel-btn:focus {
  outline: 2px solid #1a9598;
  background-color: #22c0c3;
}

.user-search:hover, .user-search:focus, .user-msg:hover, .user-msg:focus, .timezone:hover, .timezone:focus {
  border-radius: 10px 10px 0 0;
  border-bottom: 4px solid #1a9598;
  transition: all 0.1s ease-out;
}

.search-container {
  position: relative;
}

.name-dropdown {
  display: none;
  position: absolute;
  width: 100%;
  background-color: white;
  margin-top: -5px;
}
.name-dropdown > * {
  font-size: 0.85em;
  padding: 0.5em;
  border-bottom: 1px solid lightgrey;
}

.hide-user {
  display: none;
}

.setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex: "";
  margin: 5px 0;
}

.set-text {
  font-size: 0.7em;
  padding: 10px;
}

.switch {
  display: flex;
  justify-content: "";
  align-items: center;
  flex-direction: row;
  flex: "";
  background-color: #1a9598;
  border-radius: 12px;
  padding: 4px;
}
.switch input {
  text-align: center;
  width: 70px;
  color: rgba(255, 255, 255, 0.8);
  padding: 0.4em;
  background-color: #1a9598;
}
.switch input:first-child {
  border-radius: 10px 0 0 10px;
}
.switch input:last-child {
  border-radius: 0 10px 10px 0;
}

.sw-on input:last-child {
  font-weight: bold;
  background-color: #22c0c3;
}

.sw-off input:first-child {
  font-weight: bold;
  background-color: #22c0c3;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex: "";
  gap: 10px;
  margin: 5px 0;
}

.timezone {
  background-color: rgba(255, 255, 255, 0.8);
}

@media (min-width: 768px) {
  .timezone {
    font-size: 1em;
  }
}
.btm-graphic {
  display: flex;
  justify-content: space-between;
  align-items: "";
  flex-direction: row;
  flex: "";
  transform: rotate(180deg);
  margin-top: 10px;
}

.c4 {
  display: none;
}

@media (min-width: 768px) {
  .c4 {
    display: block;
    transform: scale(-1, 1);
  }
}

/*# sourceMappingURL=style.css.map */
