$color-gradient-1: #22c1c3;
$color-gradient-2: #ff7b00;

$color-primary: rgba(255, 255, 255, 0.8);
$color-secondary: rgba(255, 255, 255, 0.6);

$color-alert: #ffa600;

$color-links: rgb(0, 110, 201);


          