@use "../util" as *;

body {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, #22c1c3, #fdbb2d) center / cover no-repeat;
}

header {
  grid-area: header;  
}

nav {
  grid-area: nav;  
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

.grid-container {
  
  display: grid;
  grid-template-columns: 100%; 
  grid-template-rows: auto;
  grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";
}

@include mq('med') {
  .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas: 
    "header header"
    "nav main"
    "nav main"
    "footer footer";
  }

  .main-grid-container {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    .block {
      margin-bottom: 0;
    }
    .daily.block {
      margin-right: 0;
    }
    section:first-child {
      grid-column: span 2;
    }
    
    section:nth-child(n+4) {
      grid-column: span 2;
    }
  }
}

@include mq('lg') {
  .main-grid-container{
    .new-members.block, .messenger.block {
      margin-right: 0;
    }
    section:nth-child(n+5) {
      grid-column: span 1;
    }
    section:last-child {
      grid-column: span 2;
    }
  }
}