@use "../util" as *;

.nav-container {
  @include flexo(center, center);
  gap: 15px;
  height: 55px;
  background-color: $color-secondary;
}

.nav-svg, .bell {
  path {
    fill: dkn($color-gradient-1);
  }
  &:hover, &:focus {
  path {
    fill: $color-gradient-1;
    transition: fill .2s; 
    }
  }
}

.fix {
  stroke: dkn($color-gradient-1);
  stroke-width: 2px;
}

@include mq('med') {
  .nav-container {
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    padding-top: 10px;
  }

}