/*///////////////////////////////
///      Bottom Graphic       ///
///////////////////////////////*/

@use "../util" as *;

.btm-graphic {
  @include flexo(space-between);
  transform: rotate(180deg);
  margin-top: 10px;
}

.c4 {
  display: none;
}

@include mq('med') {
  .c4 {
    display: block;
    transform: scale(-1, 1);
  }
}