@use "../util" as *;

.traffic-time-container {
  @include flexo(space-around, center);
  margin: 10px auto;
  input {
    font-size: .7em;
    padding: .55em;
    background-color: dkn($color-gradient-1);
    color: $color-primary;
    border-radius: 10px;
    &:hover, &:focus {
      background-color: $color-gradient-1;
      outline: 2px solid dkn($color-gradient-1);
    }
  }
}

@include mq('med') {
  .traffic-time-container {
    margin: 0;
    gap: 15px;
    input {
      font-size: .8em;
    }
  }
  .traffic-header {
    @include flexo(space-between, center);
  }
} 