@use "../util" as *;

.member-card {
  height: 160px;
  @include flexo(center, center, column);
  gap: 5px;
  text-align: center;
  padding: 15px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  img {
    width: 64px;
    height: 64px;
    margin-bottom: 5px;
  }
  p {
    font-size: .7em;
  }
  a {
    font-size: .75em;
  }
}

.new-members {
  line-height: .8em;
}

.member-card:last-child {
  padding-bottom: 0;
  border: none;
}

a {
  @include txt-gradient(to bottom left, $color-gradient-1, $color-gradient-2);
  &:focus {
    outline: 2px solid dkn($color-gradient-1);
  }
}

.arrow {
  display: none;
  background-color: $color-primary;
  color: $color-gradient-1;
  font-size: 2em;
  font-weight: 900;
  padding: .1em .15em;
  border-radius: 10px;
}

@include mq('med') {
  .member-card {
    justify-content: flex-start;
    flex-direction: row;
    text-align: left;
    gap: 20px;
    img {
      margin: 0;
    }
    p:last-child {
      margin-left: auto;
    }
  }

  .arrow {
    display: block;
    margin-left: auto;
  }
}
