/*///////////////////////////////
///          Messenger        ///
///////////////////////////////*/

@use "../util" as *;

.user-msg {
  display: block;
  min-height: 100px;
}

.user-search, .user-msg, .send-btn, .timezone {
  width: 100%;
  border-radius: 10px;
  margin: 5px 0;
  padding: .6em;
}

.send-btn, #save-btn, #cancel-btn {
  font-weight: bold;
  color: $color-primary;
  background-color: dkn($color-gradient-1);
  width: 100%;
  padding: .5em;
  border-radius: 10px; 
  &:hover {
    background-color: $color-gradient-1;
  }     
  &:focus {
    outline: 2px solid dkn($color-gradient-1);
    background-color: $color-gradient-1;
  }
}

.user-search, .user-msg, .timezone {
  &:hover, &:focus {
    border-radius: 10px 10px 0 0;
    border-bottom: 4px solid dkn($color-gradient-1);
    transition: all .1s ease-out;
  }
}


.search-container {
  position: relative;
}

.name-dropdown {
  display: none;
  position: absolute;
  width: 100%;
  background-color: white;
  margin-top: -5px;
  & > * {
    font-size: .85em;
    padding: .5em;
    border-bottom: 1px solid lightgrey;  
  }
}

.hide-user {
  display: none;
}
