@use "../util" as *;

.traffic-time-container {
  @include flexo(space-around, center, $wrap: wrap);
  margin: 10px auto;
  input {
    font-size: .7em;
    padding: .55em;
    background-color: $color-primary;
    border-radius: 10px;
  }
}

@include mq('med') {
  .traffic-time-container {
    margin: 0;
    gap: 15px;
    input {
      font-size: .8em;
    }
  }
  .traffic-header {
    @include flexo(space-between, center);
  }
} 