/*///////////////////////////////
///         Typography        ///
///////////////////////////////*/

h1 {
  font-family: 'Amatic SC', cursive;
}

h2, h3, h4, text {
  font-family: 'Overpass Mono', monospace;
}

p, a, li, input, button, select, option, ::placeholder {
  font-family: 'Numans', sans-serif;
}

strong {
  font-size: 1.1em;
  font-weight: bold;
}

